/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(233, 233, 145);
} */
#container {
    width: 90%;
    max-width: 580px;
    display: block;
}
#table {
    display: none;
}
.salary-update {
    display: none;
}